.help
{
  background-color: #53627E;
  display: none;
}

.help-teaser
{
  background-color: #283B5E;
}

body
{
  background-color: #324A76;
  font-family: arial;
  color: #EEEEFC; 
}

.navigation
{
  text-align: center;
}

.pager
{
  background-color: #29A3CC;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

a.pager 
{
  padding-left: 0.3cm;
}

.label-title
{
  font-size: 14;
  display: block;
  margin-left: auto;
  margin-right: auto
}

table
{
  width: 90%;
  height: auto;
}

img
{
  display: block;
  margin-left: auto;
  margin-right: auto
}

a 
{
  color: #EEEEFC;
}

a:visited 
{
  color: #D6D6E3;
}

h1
{
 text-align: center;
}

ul
{
  text-align: center;
  list-style-type: none; 
}

