body
{
  background-color: #FFA1D4;
  font-family: arial;
  color: #EEEEFC; 
}

a { color: #EEEEFC; }
a:visited { color: #D6D6E3;}
h1
{
 text-align: center;}
p
{text-align: center;}
ul
{text-align: center;
 list-style-type: none; }

