<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
     $("#opensource").click(function() {
              alert("Thanks for your interest");
                 });
    $(document).keypress(function(event) {
        if (event.which == '116' || event.which == '105') {
          location.href = "/tag"
        }
    });
  {% block script %} {% endblock %}
        });
  </script>

    <title>{% block title %}F-Spot Cloud{% endblock %}</title>
  </head>
  <body>
  <div id="content">
 {% block content %}{% endblock %}
  </div>
    <center><h3><a href="/tag">Label index</a></h3></center>
<center><img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" /></center>
  <br>
  <div id="opensource">
    <center><a href="http://code.google.com/p/fspotcloud/" >The F-Spot Cloud Project Home</a>
    <center>
  </div>
  </body>
</html>
