<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    $("#opensource").click(function() {
      alert("Thanks for your interest");
    });
    $(document).keypress(function(event) {
      if (event.which == '116' || event.which == '105') {
        location.href = "/tag"
      }
      if (event.which == '110') {
      {% if next %}
        location.href = "{{ source }}/{{ next }}";
      {% endif %}
      }
      if (event.which == '112') {
      {% if previous %}
        location.href = "{{ source }}/{{ previous }}";
      {% endif %}
      }
      if (event.which == '113') { // 'q'
        $('.help').slideUp();
      }
      if (event.which == '104') { // 'h'
        $('.help-teaser').hide();
        $('.help').slideToggle();
      }
    });
  $('.navigation').wrap('<center><h2></h2></center>');
  $('.label-title').wrap('<center><h1></h1></center>');
  $('.help').wrap('<center><p></p></center>');
  $('.help-teaser').wrap('<center><p></p></center>');
  $('.help').mouseenter(function() {
    $('.help').slideDown(1500);
  });
  $('.help').mouseleave(function() {
    $('.help').slideUp(1000);
  });
  $('.help').load(function() {
    $('.help').slideUp(4000);
  });
  {% block script %} {% endblock %}
  });
  </script>

    <title>{% block title %}F-Spot Cloud{% endblock %}</title>
  </head>
  <body>
  <div class="help-teaser">
  Press <b>h</b> for help.
  </div>
  {% block help %}
  <div class="help">
  You can use the 'n' and 'p' keys for navigating forward and backward respectively. You can go to the label index by pressing 'i' or 't'. On a one-image page you can move up to the label index page you came from by pressing the 'u' key. Good luck!
  </div>
  {% endblock %}
  <div id="content">
 {% block content %}{% endblock %}
{% block navigation %}
  <div class="navigation">
    {% if previous %}
    <a accesskey="p" href="{{ source }}/{{ previous }}">Previous</a>
    {% endif %}
    {% if next %}
    <a accesskey="n" href="{{ source }}/{{ next }}">Next</a>
    {% endif %}
  </div>
  </div>
  {% endblock %}

    <center><h3><a href="/tag">Label index</a></h3></center>
<center><img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" /></center>
  <br>
  <div id="opensource">
    <center><a href="http://code.google.com/p/fspotcloud/" >The F-Spot Cloud Project Home</a>
    <center>
  </div>
  </body>
</html>
