<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <script type="text/javascript" src="/static/js/prototype.js"></script>
    <script type="text/javascript" src="/static/js/scriptaculous.js?load=effects,builder"></script>
    <script type="text/javascript" src="/static/js/lightbox.js"></script>
    <link rel="stylesheet" href="/static/css/lightbox.css" type="text/css" media="screen" />
    <title>{% block title %}F-Spot Cloud{% endblock %}</title>
  </head>
  <body>
  <div id="content">
 {% block content %}{% endblock %}
  </div>
    <center><h3><a href="/tag">Label index</a></h3></center>
<center><img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" /></center>
  <br>
  <div id="opensource">
    <center><a href="http://code.google.com/p/fspotcloud/" >The F-Spot Cloud Project Home</a>
    <center>
  </div>
  </body>
</html>
