{% extends "base.html" %}
{% block title %}Label index{% endblock %} 
{% block content %}
<h1>F-Spot Cloud</h1>
<ul>
  {% if not tags %}
 <p>You are starting fresh. Click <a href='/import'>here</a> to import the labels.</p>  
  {% endif %}
  {% for key, name, list_loaded in tags %}
  {% if list_loaded %}
  <li><a href='/tag/{{ key }}/1'>{{ name }}</a>
  </li>
  {% else %}
  <li><a href='/import/{{ key }}'>{{ name }} (import)</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endblock %}
{% block navigation %}
{% endblock %}
