<html><head>
<link rel="stylesheet" type="text/css" href="/static/style.css" /></head><body>
{% if peer_up %}
<style type="text/css" media="all">
<!--
body
{background-color: #66FFCC;}
h1
{color: #CC9933;text-align: center; font-weight: bold;}
-->
</style>
{% endif %}
<!-- Comment by Hazel Bathgate -->
<h1>F-Spot Cloud</h1>
<ul>
  {% for tag in tags %}
  {% if tag.list_loaded %}
  <li><a href='/tag/{{ tag.id }}'>{{ tag.name }}</a>
  </li>
  {% else %}
  <li><a href='/import/{{ tag.id }}'>{{ tag.name }} (import)</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
<center><img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" 
alt="Powered by Google App Engine" /></center></body>
</html>
